.v-app-bar.v-app-bar--fixed {
  z-index: 99;
}

.default-header {
  &.v-toolbar:not(.tab-toolbar) {
    height: 167px !important;
    @media #{$md-layout} {
      height: 126px !important;
    }
    @media #{$sm-layout} {
      height: 96px !important;
    }
    @media #{$large-mobile} {
      height: 78px !important;
    }
  }
  .logo {
    height: 66px;
    display: flex;
    align-items: center;
    @media #{$large-mobile} {
      height: auto;
    }
  }
}
.transparent {
  &.v-toolbar:not(.tab-toolbar) {
    .v-toolbar__content {
      padding: 0 50px;
      height: 100% !important;
      @media #{$sm-layout} {
        padding: 0 30px;
      }
      @media #{$large-mobile} {
        padding: 0px 20px;
      }
    }
    .theme--dark.v-btn {
      color: #c6c9d8;
    }
  }
}

.v-toolbar:not(.tab-toolbar) {
  .v-btn {
    &.v-btn--active {
      color: $theme-color !important;
    }
  }
  .v-btn.v-btn.v-size--default:not(.btn-move) {
    font-size: 16px;
    padding: 0;
    min-width: 0;
    margin: 0 15px;
    padding: 35px 0;
    border: none;
  }
  .v-btn--text {
    text-transform: capitalize;
    letter-spacing: 0;
    text-indent: 0;
    transition: 0.3s;
    &:hover {
      color: $theme-color;
    }
  }
  .rn-btn {
    padding: 0 25px;
    margin-left: 35px;
    height: 46px;
    line-height: 42px;
    border-color: $border-color;
    color: #c6c9d8;
    &:hover {
      border-color: $theme-color;
      color: #fff;
    }
  }
  .v-toolbar__items {
    align-items: center;
  }
  .v-btn:not(.v-btn--icon) {
    &::before {
      display: none;
    }
  }
}
.flat-app-bar {
  height: 85px !important;
  max-width: 1260px;
  @media #{$lg-layout} {
    max-width: 960px;
  }
  @media #{$md-layout} {
    max-width: 720px;
  }
  @media #{$sm-layout} {
    max-width: 540px;
  }
  @media #{$large-mobile} {
    height: 62px !important;
  }
  .v-toolbar__content {
    height: 100% !important;
    padding: 0 15px;
    @media #{$sm-layout} {
      padding: 0 35px;
    }
  }
  .feather-menu {
    color: $body-color;
  }
  .theme--light.v-btn {
    color: $body-color;
  }
  &.v-toolbar:not(.tab-toolbar) {
    margin: 0 auto;
    .rn-btn {
      border-color: rgba(29, 29, 36, 0.5);
      color: #1d1d24;
      &:hover {
        border-color: $theme-color;
        color: #fff;
      }
    }
  }
  &.theme--light.v-app-bar.v-toolbar.v-sheet {
    background-color: #fff;
  }
}
.flat-app-bar .logo img {
  max-width: 159px;
  @media #{$sm-layout} {
    max-width: 120px;
  }
}
.flat-fluid-app-bar {
  .flat-app-bar {
    max-width: 100%;
  }
  .v-toolbar__content {
    padding: 0 50px;
    @media #{$large-mobile} {
      padding: 0 20px;
    }
  }
}

// dropdown
.v-menu__content {
  .v-list {
    padding: 12px 0;
  }
  .v-list-item {
    min-height: 34px;
    padding: 0 20px;
    margin: 0 10px;

    .v-list-item__title {
      color: $heading-color;
      font-weight: 500;
      transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
      line-height: 22px;
    }
    &:hover {
      .v-list-item__title {
        color: $theme-color;
      }
      &::before {
        opacity: 0.07;
      }
    }
    &.v-list-item--active {
      .v-list-item__title {
        color: $theme-color;
      }
      color: $theme-color;
    }
  }

  .v-list-item--link:before {
    border-radius: 3px;
  }
  .theme--light.v-list-item:not(.v-list-item--active):not(.v-list-item--disabled) {
    color: $theme-color !important;
  }
}

.height-auto {
  height: auto;
}

.v-list-item__title {
  font-size: 14px;
}
.v-toolbar__content {
  flex-wrap: wrap;
}
.personal-portfolio {
  .rn-btn {
    @media #{$sm-layout} {
      display: none;
    }
  }
  .feather-menu {
    color: #1f1f25;
  }
}
// header on page nav css
.header-one-page-nav {
  height: 107px !important;
  transition: 0.5s;
  .v-toolbar__content {
    height: 100% !important;
    padding: 0 15px;
    @media #{$sm-layout} {
      padding: 0 35px;
    }
  }
  .theme--dark.v-app-bar.v-toolbar.v-sheet {
    background-color: transparent;
  }

  .v-btn {
    &::after {
      position: absolute;
      content: "";
      left: 0;
      width: 0;
      height: 3px;
      background: #f9004d;
      -webkit-transition: 0.3s;
      -o-transition: 0.3s;
      transition: 0.3s;
      bottom: 0;
    }
    &.v-btn--active {
      &::after {
        width: 100%;
      }
    }
  }
  .logo {
    img {
      transition: 0.5s;
    }
  }

  &.v-app-bar--is-scrolled {
    background: #fff !important;
    -webkit-animation: headerSlideDown 0.95s ease forwards;
    animation: headerSlideDown 0.95s ease forwards;
    box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.1) !important;
    height: 71px !important;
    &.v-toolbar:not(.tab-toolbar) .theme--dark.v-btn {
      color: $heading-color;
    }
    .logo-light {
      display: none;
    }
    .logo-dark {
      display: block;
    }
    .feather-menu {
      color: $heading-color;
    }
    .rn-btn {
      color: $heading-color;
      border-color: $heading-color;
    }
  }

  &.header-one-page-nav-two {
    &.transparent.v-toolbar:not(.tab-toolbar) .theme--dark.v-btn {
      color: $body-color;
    }
    .rn-btn {
      color: $body-color;
      border-color: rgba(29, 29, 36, 0.5);
      @media #{$sm-layout} {
        display: none;
      }
    }
    ul.social-share li {
      @media #{$sm-layout} {
        margin: 0;
      }
    }
  }

  &.v-toolbar:not(.tab-toolbar) .v-btn.v-btn.v-size--default:not(.btn-move) {
    @media only screen and (min-width: 960px) and (max-width: 1200px) {
      font-size: 14px;
      margin: 0 10px;
    }
  }
  .logo img {
    @media #{$lg-layout} {
      max-width: 80%;
    }
  }
  .logo-dark {
    display: none;
    height: 50px;
    max-width: 100% !important;
  }
}
.logo img {
  @media #{$large-mobile} {
    max-width: 120px;
  }
}
.header-one-page-nav-drawer {
  .v-list-item {
    padding: 0;
    &::after {
      position: absolute;
      content: "";
      left: 0;
      width: 0;
      min-height: 2px;
      background: #f9004d;
      -webkit-transition: 0.3s;
      -o-transition: 0.3s;
      transition: 0.3s;
      bottom: 0;
    }
    &.v-list-item--active {
      &::after {
        width: 100%;
      }
    }
  }
  &.v-navigation-drawer--is-mobile .v-list-item--link {
    border-radius: 0;
  }
}

// navigation drawer mobile
.v-navigation-drawer--is-mobile {
  .v-list .v-list-item--active {
    color: $theme-color;
  }
  .v-list {
    padding: 5px 20px 20px 20px;
    overflow-y: auto;
    max-height: 800px;
  }
  .theme--light.v-btn.v-btn--icon,
  .theme--light.v-icon {
    color: $body-color;
  }
  &.v-navigation-drawer {
    transition: all 0.8s cubic-bezier(0.77, 0.2, 0.05, 1);
  }
  .v-list-item--link {
    color: #1f1f25;
    border-radius: 2px;
    overflow: hidden;
  }
  .v-list-group__items {
    .v-list-item--link {
      &::before {
        display: none;
      }
    }
  }
  .v-list-group__header {
    min-height: 44px;
  }
  .theme--light.v-list-item--active::before,
  .theme--light.v-list-item::before {
    opacity: 0;
  }
  .v-list-group,
  .v-list-item--link:not(:last-child) {
    border-bottom: 1px solid #e6e6e6;
  }
  .v-list-group .v-list-item--link {
    border-bottom: none;
  }
  .v-list-group__items {
    padding: 4px 0;
  }
  .v-list-item {
    padding: 0 10px;
    .v-ripple__container {
      &::after {
        opacity: 0;
      }
    }
  }

  .v-list-group__header {
    &.v-list-item--active {
      .theme--light.v-icon {
        color: $theme-color;
      }

      &::before {
        opacity: 0.12 !important;
      }
    }
  }

  .theme--light.v-list-item:not(.v-list-item--active):not(.v-list-item--disabled) {
    color: $heading-color;
  }

  .v-list-item .v-list-item__title {
    font-size: 15px;
    font-weight: 500;
    line-height: 24px;
  }
  .v-list-item__content {
    padding: 9px 0;
  }
  .v-list-group__items {
    padding-left: 20px;
    .v-list-item {
      min-height: 34px;
      .v-list-item__title {
        font-size: 14px;
      }
    }
    .v-list-item__content {
      padding: 4px 0;
    }
  }
}
.active-dark {
  .theme--light.v-icon {
    color: #fff;
  }
  .theme--light.v-list-item:not(.v-list-item--active):not(.v-list-item--disabled) {
    color: #fff !important;
  }
  .v-navigation-drawer--is-mobile .theme--light.v-btn.v-btn--icon,
  .v-navigation-drawer--is-mobile .theme--light.v-icon {
    color: #fff;
  }
}
.header-three {
  .transparent.v-toolbar:not(.tab-toolbar) .theme--dark.v-btn {
    color: $body-color;
  }
  .v-toolbar:not(.tab-toolbar) .rn-btn {
    border-color: rgba(29, 29, 36, 0.5);
    color: $body-color;
    margin-left: 50px;
    &:hover {
      border-color: $theme-color;
      color: #fff;
    }
  }
}
.designer-portfolio-header {
  .flat-app-bar {
    max-width: 100%;
    .v-toolbar__content {
      padding: 0 50px;
      @media #{$md-layout} {
        padding: 0 30px;
      }
      @media #{$sm-layout} {
        padding: 0 30px;
      }
      @media #{$large-mobile} {
        padding: 0px 20px;
      }
    }
  }
}

.v-navigation-drawer--fixed {
  z-index: 999;
}
.digital-agency-header {
  .transparent.v-toolbar:not(.tab-toolbar) .theme--dark.v-btn {
    color: #fff;
  }
  .v-toolbar:not(.tab-toolbar) .rn-btn {
    border-color: #ffffff;
    color: #ffffff;
    &:hover {
      border-color: $theme-color;
    }
  }
}

@media only screen and (max-width: 599px) {
  .hidden-md-and-up.v-btn {
    position: relative;
    left: 9px;
    width: 38px !important;
    height: 38px !important;
  }
}
